footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

footer img {
    max-width: 90px;
}

footer .footer-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

footer .links {
    display: flex;
    max-width: 353px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
} 

footer ul {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    max-width: 163px;
    width: 100%;
    list-style-type: none;
    justify-content: space-between;
    
}

footer ul a {
    display: flex;
    text-decoration: none;
    font-family: fonts.$primaryfont;
    color: fonts.$primary_1;
}

footer .footer-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95px;
    width: 100%;
}