footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    max-width: 90px;
}

footer .footer-text{
    display: flex;
   flex-direction: row-reverse;
}

footer .links {
    display: flex;
    max-width: 353px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
} 

footer ul {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    max-width: 163px;
    width: 100%;
    list-style-type: none;
    justify-content: space-between;
}

footer ul a {
    display: flex;
    text-decoration: none;
}

footer .footer-logos {
    display: flex;
    justify-content: space-between;
    max-width: 95px;
    width: 100%;
}

.footer-line {
    opacity: 0.4;
}