footer {
    display: flex;
   justify-content: space-around;
}

li {
list-style: none;
} 

.footer-logo {
    justify-content: space-around;
}

.footer-links {
    justify-content: space-between;
}

.footer-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.footer-line {
    opacity: 0.4;
}