@use 'fonts';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1109px;
    width: 100%;
    height: 23px;
    
}

.header-text {
    display: flex;
    font-family: fonts.$primaryfont;
    color: fonts.$primary_1;
}

.header ul {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    max-width: 163px;
    width: 100%;
    list-style: none;
    justify-content: space-between;
    
}

.header ul a {
    text-decoration: none;
}