body {
    max-width: 1400px;
    margin:auto;
    display: flex;
    flex-direction: column;
  
  }

 .collage-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    align-content: center;
    gap: 1%;
    max-width: 1110px;
    width: 100%;
    min-height: 100%;
 }
  .collage1 {
    grid-column: 1 / 4;  
    grid-row: 1 / 7;
      
  }

  .collage2 {
  grid-column: 4 / 6;
  grid-row: 1 / 6;
  }

  .collage3 {
    grid-column: 7 / 9;
    grid-row: 1 / 10;
  }

  .collage4 {
    grid-column: 1 / 4;
    grid-row: 8 / 15;
  }

  .collage5 {
  grid-column: 4 / 6;
  grid-row: 7 / 13;
  }

  .collage6 {
    grid-column: 7 / 10;
    grid-row: 11 / 17;
  }

  .collage7 {
  grid-column: 1 / 4;
  grid-row: 17 / 24;
  }

  .collage8 {
  grid-column: 4 / 7;
  grid-row: 14 / 22;
  }

  .collage9 {
    grid-column: 7 / 9;
    grid-row: 18 / 26;
  }

  .collage10 {
    grid-column: 1 / 4;
    grid-row: 24 / 32;
  }

  .collage11 {
    grid-column: 4 / 7;
    grid-row: 23 / 32;
  }

  .collage12 {
  grid-column: 7 / 9;
  grid-row: 27 / 32;
  }
