.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1109px;
  width: 100%;
  height: 23px;
}

.header-text {
  display: flex;
  font-family: "mulish", sans-serif;
  color: #111111;
}

.header ul {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  max-width: 163px;
  width: 100%;
  list-style: none;
  justify-content: space-between;
}

.header ul a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

footer img {
  max-width: 90px;
}

footer .footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

footer .links {
  display: flex;
  max-width: 353px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  display: flex;
  font-size: 18px;
  font-weight: 700;
  max-width: 163px;
  width: 100%;
  list-style-type: none;
  justify-content: space-between;
}

footer ul a {
  display: flex;
  text-decoration: none;
  font-family: "mulish", sans-serif;
  color: #111111;
}

footer .footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 95px;
  width: 100%;
}

body {
  max-width: 1109px;
  width: 100%;
  min-height: 1375px;
  padding: 2%;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.contact-heading {
  max-width: 475px;
  width: 100%;
  min-height: 174px;
  font-family: "mulish", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
}

.contact-info {
  display: flex;
  max-width: 445px;
  width: 100%;
  height: 56px;
  font-family: "mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
  opacity: 80%;
}

.form {
  display: flex;
  justify-content: right;
  flex-direction: column;
  max-width: 475px;
  width: 100%;
  min-height: 291px;
  margin-top: 50px;
}

.form-label .form-input {
  max-width: 475px;
  width: 100%;
  height: 37px;
}

input {
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  margin: 10px 5px;
}

label {
  font-family: "mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  opacity: 60%;
}

.contact-right {
  display: flex;
  justify-content: right;
  width: 50%;
}

.name {
  width: 46px;
  height: 20px;
  opacity: 60%;
}

.email {
  width: 43px;
  height: 20px;
  opacity: 60%;
}

.message {
  width: 68px;
  height: 20px;
  opacity: 60%;
}

.form-btn {
  max-width: 125px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  font-family: "mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #4A4FF2;
}

.form-btn:hover {
  cursor: pointer;
  background-color: #111111;
}

.map-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
}