@use 'fonts';

@import 'header';
@import 'footer';

body {
    max-width: 1400px;
    width: 100%;
    min-height: 1375px;
    padding: 2%;
}

.contact-heading {
    max-width: 475px;
    width: 100%;
    min-height: 174px;
    font-family: fonts.$primaryfont;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
}

.contact-info {
    max-width: 445px;
    width: 100%;
    height: 56px;
    font-family: fonts.$primaryfont;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: fonts.$primary_1;
    opacity: 80%;
}

.contact-left {
    display: flex;
}

.contact-right {
    display: inline;
}

.form {
    display: flex;
    justify-content: right;
    flex-direction: column;
    max-width: 475px;
    width: 100%;
    min-height: 291px;
}

.form-label .form-input {
    max-width: 475px;
    width: 100%;
    height:37px;
    
}

.name {
   
   width: 46px;
   height: 20px;
   opacity: 60%;
}

.email {
    width: 43px;
    height: 20px;
    opacity: 60%;
}

.message {
    width: 68px;
    height: 20px;
    opacity: 60%;
}

.form-line {
    max-width: 475px;
    width: 100%;
    height: 1px;
    border: 1px solid #979797;
    opacity: 30%;
}

.form-btn {
    max-width: 125px;
    width: 100%;
    height: 50px;
    border:none;
    font-family: fonts.$primaryfont;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: fonts.$primary_2;
   
}

.map-img {
    display: flex;
    justify-content: center;
    align-items: center;
}