@use 'fonts';

@import 'header';
@import 'main';
@import 'footer';

body {
    max-width: 1400px;
    margin:auto;
    display: flex;
    flex-direction: column;
    font-style: fonts.$primaryfont;
  
  }

/*h2 {
    font-family: fonts.$primaryfont;
    color: fonts.$primary_2;
}